.email-body-container {
    background: #ffffff;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 2rem;
    display: flex;
    gap: 1.4rem;
    flex: 1 0 1;
    max-height: 100vh;
    overflow: auto;
    margin-top: 3rem;
    position: relative;
}

.email-body-contents {
    display: flex;
    flex-direction: column;
}

.email-header {
    display: flex;
    justify-content: space-between;
    margin-right: 1rem;
    align-items: center;
}

.email-header span {
    background: var(--accent-color);
    color: #ffffff;
    padding: 0.3rem 0.8rem;
    border-radius: 2rem;
    cursor: pointer;
}

.email-body-container h2 {
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 1rem;
}

.email-body-contents p {
    margin-bottom: 1rem;
}

.close-btn {
    position: absolute;
    font-size: 1.2rem;
    font-weight: bold;
    top: 0.5rem;
    right: 0.5rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;

}

.close-btn:hover {
    background: #e5406417
}