.email-card {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 1rem 2rem;
    display: flex;
    gap: 1rem;
    cursor: pointer;
    min-width: 32rem;
}

.avatar {
    text-transform: capitalize;
    min-width: 3rem;
    height: 3rem;
    color: #ffffff;
    background: var(--accent-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

.email-contents {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--text-color);
}

.email-contents span {
    font-weight: bold;
}

.unread {
    background: #ffffff;
}

.read {
    background: var(--read-background);
}

.selected-email {
    border: 2px solid var(--accent-color)
}